<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block header %}
            <header>
                {% if app.user %}
                    <p>Hello {{ app.user.username }}</p>
                    <a href="{{ path("user_edit", { "id": app.user.id })}}">Paramètres du compte</a>
                {% else %}
                    <a href="{{ path("app_login")}}">Connexion</a>
                {% endif %}
            </header>
        {% endblock %}

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
