{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Text</th>
                <td>{{ article.text }}</td>
            </tr>
            <tr>
                <th>DateParution</th>
                <td>{{ article.dateParution ? article.dateParution|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>
    {# {% if is_granted("ROLE_USER") %} #}
    {% if form is defined %}
    <div class="formulaire">
            {{ form_start(form)}}
             {{ form_widget(form) }}
             <button type="submit">Valider le commentaire</button>
            {{ form_end(form) }}
    </div>
    {% endif %}

    <div class="commentaires">
        {% for toto in article.commentaires %}
            <div class="comment">   
                <p>Ecrit le {{ toto.dateParution|date("d/m/Y à h:i", "Europe/Paris") }} par {{ toto.author.username }}</p>
                <p>{{ toto.texte }}</p>
            </div>
        {% endfor %}
    </div>

    <a href="{{ path('article_index') }}">back to list</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}">edit</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
